*{
    margin: 0;
    padding: 0;
  }
  body {
    height: 100vh;
  }
.container{
    display: flex;
}
.side-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
      url("../../assets/images/hub.jpg.jpg");
    width: 40%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }