*{
    margin: 0;
    padding: 0;
  }
  body {
    height: 100vh;
  }
  
  h2 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-bottom: 7px;
  }
  h3 {
    font-size: 15.5px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    margin-bottom: 40px;
    letter-spacing: 0.5px;
  }
  
  
  .container {
    display: flex;
  }
  .side-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
      url("../../assets/images/hub.jpg.jpg");
    width: 40%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .logo {
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
    z-index: 1;
    position: relative;
  }
  p {
    padding-top: 5px;
    font-size: 20px;
    margin-top: 15px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .Name {
    width: 100px;
    height: 100px;
    width: 100%;
  }
  
  button {
    /* align-items: center; */
    width: 70%;
    background-color: #3b7fb6;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .tag{
    color: white;
  }
  .form-container {
    position: relative;
    height: 100vh;
  }
  .Login {
    position: absolute;
    top: 13%;
    bottom: 5%;
    left: 20%;
    width: 400px;
    margin-left: 100px;
  }
  .form {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .input-label {
    display: block;
    font-size: small;
  }
  
  .date {
    font-size: 10px;
    color: grey;
  }
  
  .label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .check {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  span {
    color: #2a7ec2;
    font-size: 15px;
  }
  
  input[type="text"] {
    border: 1px solid #cccccc;
    background: #f2f2f2;
    border-radius: 2px;
    height: 24px;
    outline: none;
  }
  
  input[type="file"] {
    display: none;
  }
  
  .custom-file-upload {
    border: 1px solid #cccccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 200px;
    border-radius: 2px;
  }
  
  .box1 {
    margin-bottom: 10px;
  }
  
  .login {
    color: rgb(63, 61, 61);
    margin-top: 5px;
    font-size: small;
  }
  a {
    color: blue;
    text-decoration: none;
    font-size: small;
  }
  input[type="text"] {
    margin-right: 30px;
    height: 40px;
    width: 300px;
  }
  .account{
    font-size: 50px;
  }

  .accnt{
    margin-right: 5rem;
  }

  .login {
    color: rgb(63, 61, 61);
    margin-top: 5px;
    font-size: 15px;
  }